<style type="text/css">

  .admin tr{
  }

  .admin tr td{
    
  }

  .admin tr, .admin tr td, .admin{
    border-collapse: collapse;
  }
</style>
<div style="margin-top: 100px;" class="container">
  <button class="btn btn-success" ng-click="admin.export()">Download as .csv</button>
  <table class="admin">
    <tr>
      <td style="width: 15%;">SRC ID</td>
      <td style="width: 20%;">Name</td>
      <td style="width: 20%;">Contact</td>
      <td style="width: 20%;">Designation</td>
      <td style="width: 15%;">City</td>
      <td style="width: 10%;">Submission</td>
    </tr>
    <tr ng-repeat="user in admin.users">
      <td style="width: 15%;">{{user.srcID}}</td>
      <td style="width: 20%;">{{user.name}}</td>
      <td style="width: 20%;">{{user.email}}<br>{{user.phoneNumber}}</td>
      <td style="width: 20%;">{{admin.pos(user.position)}}<br>{{user.organisation}}</td>
      <td style="width: 15%;">{{user.city}}<br>{{user.state}}</td>
      <td style="width: 10%;">
        <button class="btn btn-success" ng-click="admin.download(user.file)" ng-hide="user.file===undefined">View</button>
        <p ng-show="user.file===undefined">Not submitted</p>
      </td>
    </tr>
  </table>
</div>
