<style>
  .navbar .nav li a, .navbar .nav li a:hover{
    padding-left: 0.75vw;
    padding-right: 0.75vw;
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat'
  }

  .navbar{
    padding-right: 3vw;
    height: 5vh;
    background: #8e24aa;
    background: -webkit-linear-gradient(-45deg, #ab47bc, #8e24aa);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-45deg, #ab47bc, #8e24aa);
    position: fixed;
    top: 0;
    right:0;
    left:0;
  }
  
</style>

<div class="navbar navbar-default navbar-static-top">
  <div>
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a href="/"><span class="glyphicon glyphicon-home" style="color: white;"></span></a>
        </li>
        <li ui-sref-active="active">
          <a href="/#main-about">ABOUT</a>
        </li>
        <li ui-sref-active="active">
          <a href="/#main-topics">TOPICS</a>
        </li>
        <li ui-sref-active="active">
          <a href="/#main-iis">INDUSTRY CONNECT</a>
        </li>
        <!-- <li ui-sref-active="active">
          <a href="#about">SPEAKERS</a>
        </li> -->
        <li ui-sref-active="active">
          <a href="/#main-committee">COMMITTEE</a>
        </li>
        <li ui-sref-active="active">
          <a href="/#main-timeline">TIMELINE</a>
        </li>
        <li ui-sref-active="active">
          <a href="/#main-downloads">DOWNLOADS</a>
        </li>
        <!-- <li ui-sref-active="active">
          <a href="#about">SPONSORS</a>
        </li> -->
        <li ui-sref-active="active">
          <a href="/#main-contact">CONTACT</a>
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="!$ctrl.isLoggedIn()"><a href="/signup">SIGNUP</a></li>
        <li ng-show="!$ctrl.isLoggedIn()"><a href="/login">LOGIN</a></li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a href="/report">SUBMISSION</a></li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a href="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a href="logout">LOGOUT</a></li>
      </ul>
    </div>
  </div>
</div>
